/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 115, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/*
  Form element styling 
*/
/* line 34, ../sass/style.scss */
input, textarea {
  padding: 9px;
  border: solid 1px #E5E5E5;
  outline: 0;
  font: normal 13px/100% Verdana, Tahoma, sans-serif;
  color: #999;
  background: white url("bg_form.png") left top repeat-x;
  background: -webkit-gradient(linear, left top, left 25, from(white), color-stop(4%, #eeeeee), to(white));
  background: -moz-linear-gradient(top, white, #eeeeee 1px, white 25px);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  width: 200px;
}
/* line 38, ../sass/style.scss */
input:hover, input:focus, textarea:hover, textarea:focus {
  border-color: #617798;
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
}
/* line 43, ../sass/style.scss */
input:focus, textarea:focus {
  color: #617798;
}

/* line 48, ../sass/style.scss */
textarea {
  width: 400px;
  max-width: 400px;
  height: 150px;
  line-height: 150%;
}

/*
  General Structure of things. 
*/
/* line 59, ../sass/style.scss */
body {
  margin: 0px;
  background: url("/resources/bg.jpg") repeat scroll 0% 0%;
  font-family: Helvetica;
}

/* line 65, ../sass/style.scss */
.text {
  background: url("/resources/input_field_left.png") top left no-repeat;
  padding-left: 6px;
  display: block;
  height: 50px;
}
/* line 73, ../sass/style.scss */
.text input {
  background: url("/resources/input_field_right.png") top right no-repeat;
  padding: 0px 6px 0px 0px;
  height: 50px;
  outline: none;
  border: 0px;
  color: #8e6c40;
  font-size: 13px;
  line-height: 13px;
  font-weight: bold;
}
/* line 85, ../sass/style.scss */
.text input::-webkit-input-placeholder {
  color: #8e6c40;
}
/* line 88, ../sass/style.scss */
.text input:-moz-placeholder {
  color: #8e6c40;
}

/* line 93, ../sass/style.scss */
.button {
  background: url("/resources/button_sprite_left.png") top left no-repeat;
  height: 50px;
  padding: 0px 0px 0px 6px;
  display: block;
  text-decoration: none;
  text-align: center;
}
/* line 103, ../sass/style.scss */
.button .inner {
  background: url("/resources/button_sprite_right.png") top right no-repeat;
  height: 50px;
  padding: 0px 6px 0px 0px;
  margin: 0px 0px 0px 0px;
  border: none;
  float: none;
  color: #940000;
  font-weight: bold;
  font-size: 14px;
  text-shadow: white 1px 1px 1px;
}
/* line 115, ../sass/style.scss */
.button a {
  display: block;
  width: 48px;
  line-height: 47px;
  float: left;
  text-decoration: none;
}
/* line 122, ../sass/style.scss */
.button:hover {
  background-position: 0px -50px;
}
/* line 124, ../sass/style.scss */
.button:hover .inner {
  background-position: 100% -50px;
}
/* line 128, ../sass/style.scss */
.button:active {
  background-position: 0px -100px;
}
/* line 130, ../sass/style.scss */
.button:active .inner {
  background-position: 100% -100px;
}

/* line 136, ../sass/style.scss */
.container {
  margin: 0px auto;
  width: 755px;
  left: 50%;
  margin-left: -377px;
  position: absolute;
  top: 100px;
}
/* line 145, ../sass/style.scss */
.container#login {
  width: 325px;
  left: 50%;
  margin-left: -162px;
}
/* line 151, ../sass/style.scss */
.container#user {
  width: 475px;
  margin-left: -238px;
}
/* line 154, ../sass/style.scss */
.container#user #profile_page {
  padding: 20px;
  width: 435px;
  height: 250px;
  background: url("/resources/profile_page_bg.png");
}
/* line 160, ../sass/style.scss */
.container#user .rank_image {
  float: left;
  padding-right: 20px;
}
/* line 164, ../sass/style.scss */
.container#user ul {
  clear: both;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  padding: 55px 0px 0px 30px;
  text-align: center;
}
/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.container#user ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 48, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.container#user ul li:first-child, .container#user ul li.first {
  padding-left: 0;
}
/* line 49, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.container#user ul li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.container#user ul li.last {
  padding-right: 0;
}
/* line 170, ../sass/style.scss */
.container#user ul li {
  width: 110px;
  text-align: center;
}
/* line 175, ../sass/style.scss */
.container#user ul h3 {
  color: #fff3e4;
  font-weight: bold;
  font-size: 40px;
}
/* line 180, ../sass/style.scss */
.container#user ul span {
  color: #fff799;
  font-size: 19px;
  font-weight: bold;
}
/* line 186, ../sass/style.scss */
.container#user h1 {
  color: #fff3e4;
  font-size: 30px;
  font-weight: bold;
  text-transform: capitalize;
}
/* line 192, ../sass/style.scss */
.container#user h2 {
  color: #fff799;
  font-size: 16px;
  padding-top: 5px;
}
/* line 199, ../sass/style.scss */
.container #login_box {
  background: url("/resources/login_box_bg.png");
  width: 233px;
  height: 200px;
  padding-top: 90px;
  padding: 90px 46px 0px 46px;
}
/* line 209, ../sass/style.scss */
.container #login_box .text input {
  width: 221px;
}
/* line 213, ../sass/style.scss */
.container #login_box .button {
  float: right;
  margin-left: 5px;
}
/* line 216, ../sass/style.scss */
.container #login_box .button .inner {
  width: 80px;
}
/* line 221, ../sass/style.scss */
.container #login_box ul {
  margin-top: 20px;
}
/* line 223, ../sass/style.scss */
.container #login_box ul li {
  margin-bottom: 5px;
}
/* line 229, ../sass/style.scss */
.container ul {
  text-align: left;
}
/* line 234, ../sass/style.scss */
.container#create label {
  width: 100px;
  display: inline-block;
}
/* line 239, ../sass/style.scss */
.container#create input {
  width: 300px;
}
/* line 246, ../sass/style.scss */
.container#lobby #main, .container#lobby #create {
  background: url("/resources/menu_box_background.png");
  padding: 140px 40px 40px 40px;
  height: 380px;
  width: 675px;
}
/* line 254, ../sass/style.scss */
.container#lobby #main ul.menu, .container#lobby #create ul.menu {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  margin-left: 100px;
  margin-top: 20px;
}
/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.container#lobby #main ul.menu li, .container#lobby #create ul.menu li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 48, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.container#lobby #main ul.menu li:first-child, .container#lobby #main ul.menu li.first, .container#lobby #create ul.menu li:first-child, .container#lobby #create ul.menu li.first {
  padding-left: 0;
}
/* line 49, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.container#lobby #main ul.menu li:last-child, .container#lobby #create ul.menu li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.container#lobby #main ul.menu li.last, .container#lobby #create ul.menu li.last {
  padding-right: 0;
}
/* line 259, ../sass/style.scss */
.container#lobby #main ul.menu li, .container#lobby #create ul.menu li {
  margin: 10px 0px;
  text-align: center;
}
/* line 266, ../sass/style.scss */
.container#lobby #create {
  background-image: url("/resources/menu_create_background.png");
  padding-top: 68px;
  padding-bottom: 112px;
}
/* line 271, ../sass/style.scss */
.container#lobby #create .text {
  float: left;
  margin-left: 110px;
}
/* line 274, ../sass/style.scss */
.container#lobby #create .text input {
  width: 294px;
}
/* line 278, ../sass/style.scss */
.container#lobby #create .button {
  float: left;
}
/* line 281, ../sass/style.scss */
.container#lobby #create .back {
  margin-bottom: 190px;
}
/* line 286, ../sass/style.scss */
.container#lobby #join {
  background: url("/resources/games_background.png") top left no-repeat;
  width: 435px;
  height: 740px;
  padding: 0px 20px;
  margin-left: 140px;
  margin-bottom: 30px;
}
/* line 295, ../sass/style.scss */
.container#lobby #join .back {
  margin-top: 40px;
  margin-bottom: 25px;
  color: #FFEBC7;
}
/* line 301, ../sass/style.scss */
.container#lobby #join #gamesList {
  margin: 20px;
  height: 614px;
  overflow-y: auto;
}
/* line 306, ../sass/style.scss */
.container#lobby #join #gamesList li {
  color: #fff3e4;
  background: url("/resources/pawn_games_list.png") center left no-repeat;
  padding-left: 25px;
  line-height: 28px;
  height: 28px;
  font-size: 18px;
}
/* line 313, ../sass/style.scss */
.container#lobby #join #gamesList li:hover {
  cursor: pointer;
  color: #000;
}
/* line 321, ../sass/style.scss */
.container#lobby .back {
  display: inline-block;
  margin: 0px 0px 10px 0px;
  color: #fff6e4;
  text-decoration: none;
}
/* line 328, ../sass/style.scss */
.container#lobby .button span {
  display: block;
  width: 140px;
  line-height: 50px;
}
/* line 335, ../sass/style.scss */
.container#lobby .chat .input {
  margin-left: 200px;
  width: 300px;
}
/* line 339, ../sass/style.scss */
.container#lobby .chat .input .text {
  float: left;
  width: 205px;
  margin-right: 5px;
}
/* line 345, ../sass/style.scss */
.container#lobby .chat .input .button {
  float: left;
}
/* line 347, ../sass/style.scss */
.container#lobby .chat .input .button .inner {
  width: 70px;
}
/* line 355, ../sass/style.scss */
.container #chat_messages {
  clear: both;
  border: 0px;
  background: transparent;
  height: 200px;
  margin: 20px 10px 10px 10px;
  color: #ffebc7;
  overflow: hidden;
  text-shadow: black 1px 1px 1px;
}
/* line 365, ../sass/style.scss */
.container #chat_messages li {
  margin: 3px 0px;
  font-size: 13px;
}

/* line 372, ../sass/style.scss */
#status {
  height: 45px;
  padding-bottom: 30px;
  text-align: center;
  color: #fff;
}
/* line 378, ../sass/style.scss */
#status ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  margin-right: 45px;
  color: #8D8D8D;
  font-size: 14px;
  font-family: Helvetica;
  font-weight: bold;
  line-height: 45px;
}
/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#status ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 48, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#status ul li:first-child, #status ul li.first {
  padding-left: 0;
}
/* line 49, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#status ul li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#status ul li.last {
  padding-right: 0;
}
/* line 387, ../sass/style.scss */
#status ul li {
  margin-left: 50px;
  float: right;
}
/* line 392, ../sass/style.scss */
#status ul span {
  color: #fff;
}

/*
    The game view
*/
/* line 406, ../sass/style.scss */
.game .chat {
  position: absolute;
  left: 0px;
  top: 0px;
  background: url("/resources/chat_sidebar_bg.png") top left repeat-y;
  bottom: 0px;
  width: 300px;
  height: 100%;
  color: #ffebc7;
  text-shadow: black 1px 1px 1px;
}
/* line 417, ../sass/style.scss */
.game .chat #chat_messages {
  margin: 10px;
  position: absolute;
  left: 0px;
  bottom: 70px;
  top: 0px;
  width: 280px;
  overflow: hidden;
}
/* line 427, ../sass/style.scss */
.game .chat li {
  margin: 3px 0px;
  font-size: 13px;
}
/* line 432, ../sass/style.scss */
.game .chat .input {
  position: absolute;
  bottom: 10px;
}
/* line 437, ../sass/style.scss */
.game .chat .text {
  margin-left: 5px;
  margin-right: 5px;
  float: left;
}
/* line 443, ../sass/style.scss */
.game .chat .button {
  float: left;
}
/* line 445, ../sass/style.scss */
.game .chat .button .inner {
  display: block;
  width: 48px;
  line-height: 47px;
  float: left;
}
/* line 454, ../sass/style.scss */
.game #board {
  position: absolute;
  left: 300px;
  height: 100%;
  top: 0%;
  right: 0%;
}
/* line 461, ../sass/style.scss */
.game #board .wood {
  position: relative;
  left: 50%;
  width: 600px;
  height: 600px;
  margin-left: -330px;
  padding: 31px 30px 30px 31px;
  background: url("/resources/board-bg.png") 0px 0px no-repeat;
}
/* line 472, ../sass/style.scss */
.game #waiting {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  background: rgba(0, 0, 0, 0.5);
}
/* line 480, ../sass/style.scss */
.game #waiting h1 {
  text-align: center;
  color: #fff;
  font-size: 42px;
  height: 200px;
  width: 400px;
  top: 50%;
  left: 50%;
  position: absolute;
  margin-top: -100px;
  margin-left: -200px;
}
/* line 491, ../sass/style.scss */
.game #waiting h1 a {
  color: white;
  font-weight: bold;
}

/*
    End of game view
*/
/* line 503, ../sass/style.scss */
td, th {
  text-align: center;
  width: 75px !important;
  height: 75px !important;
  overflow: hidden;
  display: inline-block;
}

/* line 511, ../sass/style.scss */
tr {
  height: 75px !important;
}

/* line 515, ../sass/style.scss */
.selected {
  background: url("/resources/selected_brick.png") top left no-repeat;
}

/* line 519, ../sass/style.scss */
.movable {
  background: url("/resources/movable_brick.png") top left no-repeat;
}

/* line 524, ../sass/style.scss */
.hidden {
  display: none;
}

/*
  forms 
*/
/* line 532, ../sass/style.scss */
.error_container {
  background: #b30a0a;
  margin: 20px 0px;
  padding: 10px;
  border: 2px solid black;
  color: white;
}
/* line 539, ../sass/style.scss */
.error_container ul {
  text-align: left;
  padding-left: 20px;
  list-style: disc;
}

/* line 546, ../sass/style.scss */
.no_errors {
  display: none;
}

/* line 550, ../sass/style.scss */
.has_errors {
  display: block;
}
