/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 115, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/*
  Form element styling 
*/
/* line 21, ../sass/style.scss */
input, textarea {
  padding: 9px;
  border: solid 1px #E5E5E5;
  outline: 0;
  font: normal 13px/100% Verdana, Tahoma, sans-serif;
  width: 200px;
  color: #999;
  background: white url("bg_form.png") left top repeat-x;
  background: -webkit-gradient(linear, left top, left 25, from(white), color-stop(4%, #eeeeee), to(white));
  background: -moz-linear-gradient(top, white, #eeeeee 1px, white 25px);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}
/* line 33, ../sass/style.scss */
input:hover, input:focus, textarea:hover, textarea:focus {
  border-color: #617798;
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
}
/* line 38, ../sass/style.scss */
input:focus, textarea:focus {
  color: #617798;
}

/* line 43, ../sass/style.scss */
textarea {
  width: 400px;
  max-width: 400px;
  height: 150px;
  line-height: 150%;
}

/*
  Other
*/
/* line 54, ../sass/style.scss */
body {
  margin: 0px;
  background: url("/resources/bg.png") repeat scroll 0% 0%;
}

/* line 59, ../sass/style.scss */
#status {
  position: absolute;
  height: 10%;
  width: 80%;
  padding: 0% 10%;
  text-align: center;
  background: #000;
  color: #fff;
}

/* line 69, ../sass/style.scss */
#board {
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 90%;
}

/* line 76, ../sass/style.scss */
tr {
  width: 9%;
}

/* line 80, ../sass/style.scss */
td {
  text-align: center;
}

/* line 84, ../sass/style.scss */
.black {
  background: #BC7A41;
  color: #fff;
}

/* line 89, ../sass/style.scss */
.white {
  background: #F6C492;
  color: #000;
}

/* line 94, ../sass/style.scss */
.selected {
  background: green;
}

/* line 98, ../sass/style.scss */
.movable {
  background: orange;
}

/*
  login page
*/
/* line 107, ../sass/style.scss */
#signup, #login, #lobby {
  width: 400px;
  position: absolute;
  left: 50%;
  margin-left: -200px;
  top: 100px;
  color: #000;
}
/* line 116, ../sass/style.scss */
#signup .content, #login .content, #lobby .content {
  background: #e0e0e0;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 5px black;
  overflow: hidden;
  *zoom: 1;
}
/* line 124, ../sass/style.scss */
#signup ul, #login ul, #lobby ul {
  text-align: left;
}
/* line 128, ../sass/style.scss */
#signup input[type=submit], #login input[type=submit], #lobby input[type=submit] {
  float: right;
  margin-top: 20px;
}

/* line 134, ../sass/style.scss */
#login {
  width: 260px;
  margin-left: -130px;
}

/* line 140, ../sass/style.scss */
#lobby input[type=submit] {
  float: none;
  margin-top: 0px;
  width: 260px;
}

/* line 147, ../sass/style.scss */
.hidden {
  display: none;
}

/*
  create page
*/
/* line 157, ../sass/style.scss */
#create label {
  width: 100px;
  display: inline-block;
}
/* line 162, ../sass/style.scss */
#create input {
  width: 300px;
}

/*
  forms 
*/
/* line 172, ../sass/style.scss */
.error_container {
  background: #b30a0a;
  margin: 20px 0px;
  padding: 10px;
  border: 2px solid black;
  color: white;
}
/* line 179, ../sass/style.scss */
.error_container ul {
  text-align: left;
  padding-left: 20px;
  list-style: disc;
}

/* line 186, ../sass/style.scss */
.no_errors {
  display: none;
}

/* line 190, ../sass/style.scss */
.has_errors {
  display: block;
}

/* line 194, ../sass/style.scss */
.button, input[type=submit] {
  width: auto;
  padding: 9px 15px;
  background: #617798;
  border: 0;
  font-size: 14px;
  color: #FFFFFF;
  text-decoration: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
/* line 204, ../sass/style.scss */
.button:hover, input[type=submit]:hover {
  background: #617794;
}
/* line 208, ../sass/style.scss */
.button:active, input[type=submit]:active {
  background: #6177CD;
}

/* line 213, ../sass/style.scss */
.button {
  display: inline-block;
}

/*
  Lobby styling 
*/
/* line 221, ../sass/style.scss */
#lobby #menu li {
  margin: 10px 0px;
  text-align: center;
}
/* line 224, ../sass/style.scss */
#lobby #menu li .button {
  width: 200px;
}
/* line 230, ../sass/style.scss */
#lobby .back {
  display: inline-block;
  margin: 0px 0px 10px 0px;
  color: #000;
  text-decoration: none;
}
