/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 115, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/*
  Form element styling 
*/
/* line 34, ../sass/style.scss */
input, textarea {
  padding: 9px;
  border: solid 1px #E5E5E5;
  outline: 0;
  font: normal 13px/100% Verdana, Tahoma, sans-serif;
  color: #999;
  background: white url("bg_form.png") left top repeat-x;
  background: -webkit-gradient(linear, left top, left 25, from(white), color-stop(4%, #eeeeee), to(white));
  background: -moz-linear-gradient(top, white, #eeeeee 1px, white 25px);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  width: 200px;
}
/* line 38, ../sass/style.scss */
input:hover, input:focus, textarea:hover, textarea:focus {
  border-color: #617798;
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
}
/* line 43, ../sass/style.scss */
input:focus, textarea:focus {
  color: #617798;
}

/* line 48, ../sass/style.scss */
textarea {
  width: 400px;
  max-width: 400px;
  height: 150px;
  line-height: 150%;
}

/*
  General Structure of things. 
*/
/* line 59, ../sass/style.scss */
body {
  margin: 0px;
  background: url("/resources/bg.jpg") repeat scroll 0% 0%;
}

/* line 64, ../sass/style.scss */
.container {
  width: 60%;
  left: 20%;
  margin: 0px;
  top: 100px;
  position: absolute;
}
/* line 71, ../sass/style.scss */
.container .content {
  overflow: hidden;
  *zoom: 1;
  background: #e0e0e0;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 5px black;
}
/* line 79, ../sass/style.scss */
.container ul {
  text-align: left;
}
/* line 83, ../sass/style.scss */
.container input[type=submit] {
  float: right;
  margin-top: 20px;
}
/* line 88, ../sass/style.scss */
.container#login {
  width: 262px;
  left: 50%;
  margin-left: -131px;
}
/* line 95, ../sass/style.scss */
.container#lobby input[type=submit] {
  float: none;
  margin-top: 0px;
  width: 260px;
}
/* line 104, ../sass/style.scss */
.container#create .button {
  margin-left: 10px;
}
/* line 108, ../sass/style.scss */
.container#create label {
  width: 100px;
  display: inline-block;
}
/* line 113, ../sass/style.scss */
.container#create input {
  width: 300px;
}
/* line 121, ../sass/style.scss */
.container#lobby #main ul#menu {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.container#lobby #main ul#menu li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 48, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.container#lobby #main ul#menu li:first-child, .container#lobby #main ul#menu li.first {
  padding-left: 0;
}
/* line 49, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.container#lobby #main ul#menu li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.container#lobby #main ul#menu li.last {
  padding-right: 0;
}
/* line 124, ../sass/style.scss */
.container#lobby #main ul#menu li {
  margin: 10px 0px;
  text-align: center;
}
/* line 128, ../sass/style.scss */
.container#lobby #main ul#menu li .button {
  width: 199px;
}
/* line 135, ../sass/style.scss */
.container#lobby .back {
  display: inline-block;
  margin: 0px 0px 10px 0px;
  color: #000;
  text-decoration: none;
}
/* line 143, ../sass/style.scss */
.container #chat_messages {
  padding: 9px;
  border: solid 1px #E5E5E5;
  outline: 0;
  font: normal 13px/100% Verdana, Tahoma, sans-serif;
  color: #999;
  background: white url("bg_form.png") left top repeat-x;
  background: -webkit-gradient(linear, left top, left 25, from(white), color-stop(4%, #eeeeee), to(white));
  background: -moz-linear-gradient(top, white, #eeeeee 1px, white 25px);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  clear: both;
  margin-bottom: 10px;
}
/* line 148, ../sass/style.scss */
.container #chat_messages .user {
  font-weight: bold;
}

/* line 154, ../sass/style.scss */
#status {
  height: 45px;
  padding-bottom: 30px;
  text-align: center;
  color: #fff;
}
/* line 160, ../sass/style.scss */
#status ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  margin-right: 45px;
  color: #8D8D8D;
  font-size: 14px;
  font-family: Helvetica;
  font-weight: bold;
  line-height: 45px;
}
/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#status ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 48, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#status ul li:first-child, #status ul li.first {
  padding-left: 0;
}
/* line 49, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#status ul li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#status ul li.last {
  padding-right: 0;
}
/* line 169, ../sass/style.scss */
#status ul li {
  margin-left: 50px;
  float: right;
}
/* line 174, ../sass/style.scss */
#status ul span {
  color: #fff;
}

/*
    The game view
*/
/* line 188, ../sass/style.scss */
.game .chat {
  position: absolute;
  left: 0px;
  top: 0px;
  background: #9D9D9D;
  bottom: 0px;
  width: 300px;
  height: 100%;
}
/* line 197, ../sass/style.scss */
.game .chat .input {
  position: absolute;
  bottom: 10px;
}
/* line 203, ../sass/style.scss */
.game #board {
  position: absolute;
  left: 300px;
  height: 100%;
  top: 0%;
  right: 0%;
}
/* line 210, ../sass/style.scss */
.game #board .wood {
  position: relative;
  left: 50%;
  width: 600px;
  height: 600px;
  margin-left: -330px;
  padding: 30px;
  background: url("/resources/board-bg.png") 0px 0px no-repeat;
}
/* line 221, ../sass/style.scss */
.game #waiting {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  background: rgba(0, 0, 0, 0.5);
}
/* line 229, ../sass/style.scss */
.game #waiting h1 {
  text-align: center;
  color: #fff;
  font-size: 42px;
  height: 200px;
  width: 400px;
  top: 50%;
  left: 50%;
  position: absolute;
  margin-top: -100px;
  margin-left: -200px;
}

/*
    End of game view
*/
/* line 248, ../sass/style.scss */
td, th {
  text-align: center;
  width: 75px;
  height: 75px;
}

/* line 254, ../sass/style.scss */
.selected {
  background: green;
}

/* line 258, ../sass/style.scss */
.movable {
  background: orange;
}

/* line 263, ../sass/style.scss */
.hidden {
  display: none;
}

/*
  forms 
*/
/* line 271, ../sass/style.scss */
.error_container {
  background: #b30a0a;
  margin: 20px 0px;
  padding: 10px;
  border: 2px solid black;
  color: white;
}
/* line 278, ../sass/style.scss */
.error_container ul {
  text-align: left;
  padding-left: 20px;
  list-style: disc;
}

/* line 285, ../sass/style.scss */
.no_errors {
  display: none;
}

/* line 289, ../sass/style.scss */
.has_errors {
  display: block;
}

/* line 293, ../sass/style.scss */
.button, input[type=submit] {
  width: auto;
  padding: 9px 15px;
  background: #617798;
  border: 0;
  font-size: 14px;
  color: #FFFFFF;
  text-decoration: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
/* line 303, ../sass/style.scss */
.button:hover, input[type=submit]:hover {
  background: #617794;
}
/* line 307, ../sass/style.scss */
.button:active, input[type=submit]:active {
  background: #6177CD;
}

/* line 312, ../sass/style.scss */
.button {
  display: inline-block;
}

/*
    iPhone styles
*/
